.h1-class-externa{
    color: blue;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
}
.div-container{
    background-color: red;
    margin: 100px 100px;
    padding: 200px;
    text-align: center;
}
